{% extends 'base.html' %}


{% block content %} 
    <div id="content" class="colM">
            
            <h1>Recuperar senha</h1>
            

        <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</p>
    
        <form method="post" class="form-inline">
    
            {% csrf_token %}
            <div class="form-group mb-2 mr-2">
                <label for="id_email">Endereço de email:</label>
                <input type="text" class="form-control ml-2" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Reinicializar minha senha</button>
        </form>
    </div>
{% endblock %}