{% load static %}

<header class="header">
    {% if user.is_authenticated %}
        <a class="toggle">
            <i class="fa fa-lg fa-angle-left" id="toggle-header"></i>
        </a>
    {% endif %}
    <h1 class="title">
       Sistema CODEOR
    </h1>

    {% if user.is_authenticated %}
        <div class="user-dropdown">
            <div class="user-button">
                <span class="d-none d-sm-block">{{ user.funcionario.nome }}</span>
                <div class="user-dropdown-img">
                    <img src="{% static 'images/logo_ufpb.png' %}" alt="User">
                </div>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="user-dropdown-content">
                {% if user.is_staff %}
                    <a href="/admin" class="">
                        <i class="fa fa-cogs"></i> Administração
                    </a>
                {% endif %}
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </div>
        </div>
    {% endif %}
</header>